<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles/navegation.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/galeria.css">
</head>

<body>
    <%- include('menu-header') %>

    <div class="card-container">
        <!-- Card 1 -->
         
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/barbie.jpg" alt="Imagem 1">
            </div>
            <div class="content">
                <h4>Torta barbie</h4>
                <div class="description">
                    Com camada de mousse de morango, chocolate branco e ninho.
                </div>

                

                <div class="social">
                    <form action="/galeria/incremento?cardapio_id=1" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 1) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>
                    
                    <form action="/galeria/adicionar?cardapio_id=1" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 1) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>

                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/boloCenoura.jpg" alt="Imagem 9">
            </div>
            <div class="content">
                <h4>Bolo de cenoura</h4>
                <div class="description">
                    Delicioso bolo de cenoura com recheio e cobertura de chocolate.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=2" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 2) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=2" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 2) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/paoMel.jpg" alt="Imagem 3">
            </div>
            <div class="content">
                <h4>Pão de Mel</h4>
                <div class="description">
                    Com um recheio generoso de doce de leite e biscoitos, coberto com chocolate.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=3" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 3) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=3" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 3) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- Card 4 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/nuttella.jpg" alt="Imagem 4">
            </div>
            <div class="content">
                <h4>Brigadeiro Rocher</h4>
                <div class="description">
                    Brigadeiro de avelã, coberto de amendoim e finalizado com Nutella.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=4" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 4) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=4" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 4) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- Card 5 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/torta.jpg" alt="Imagem 5">
            </div>
            <div class="content">
                <h4>Torta Cremosa</h4>
                <div class="description">
                    Torta de frango cremosa com requeijão.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=5" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 5) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=5" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 5) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- Card 6 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/saldados.jpg" alt="Imagem 6">
            </div>
            <div class="content">
                <h4>Salgados Diversos</h4>
                <div class="description">
                    Salgados diversos: empadinhas, croissant, quiche, entre outros.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=6" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 6) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=6" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 6) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- Card 7 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/suco.jpg" alt="Imagem 7">
            </div>
            <div class="content">
                <h4>Suco de laranja</h4>
                <div class="description">
                    Sucos diversos e instagramaveis.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=7" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 7) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=7" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 7) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- Card 8 -->
        <div class="card">
            <div class="image-cardapio">
                <img src="imagens/bebida.jpg" alt="Imagem 8">
            </div>
            <div class="content">
                <h4>Chocolate quente</h4>
                <div class="description">
                    Chocolate cremoso.
                </div>
                <div class="social">
                    
                    
                    <form action="/galeria/incremento?cardapio_id=8" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <% for(let i = 0; i < likes.length; i++) { %>
                            <% if (likes[i].cardapio_id == 8) { %> <!-- Verifique o ID desejado -->
                                <input type="hidden" name="curtidas" value="<%= likes[i].curtidas %>">
                                <div class="curtir"> Curtir (<%= likes[i].curtidas %>)</div>
                                <button type="submit">Curtir</button>
                            <% } %>
                        <% } %>
                    </form>

                    <form action="/galeria/adicionar?cardapio_id=8" method="POST"> <!-- MUDAR IDS DO POST PARA FICAR AUTOMATICO COM O BANCO -->
                        <div class="comentario">
                            <p><b>Adicione seu comentário:</b> <input type="text" placeholder="Comentário" name="comentario" required></input></p>

                            <label for="comentario"><b>Comentários:</b></label>
                            <% for(let i = 0; i < comments.length; i++) { %>
                                <% if (comments[i].cardapio_id == 8) { %>
                                    <p class="card-text-comentario">
                                        <%= comments[i].comentario %>
                                    </p>
                                <% } %>
                            <% } %>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-basic">
            <div class="social">
                <a href="https://www.instagram.com/doce_viver_sh/?igsh=d21oNHhyb253dmZv"><i class="icon ion-social-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=seu-numero-de-telefone"><i class="icon ion-social-whatsapp"></i></a>
                <a href="https://maps.app.goo.gl/xmEBu6z6M5VTdjGd9"><i class="fa fa-map-marker"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Início</a></li>
                <li class="list-inline-item"><a href="sobreNos">Sobre nós</a></li>
                <li class="list-inline-item"><a href="cardapio">Cardápio</a></li>
                <li class="list-inline-item"><a href="contato">Contato</a></li>
                <li class="list-inline-item"><a href="ifsp">IFSP</a></li>
                <li class="list-inline-item"><a href="fazerPedido">Fazer pedido</a></li>
            </ul>
            <p class="copyright">Doce Viver © 2024</p>
        </div>
    </footer>
</body>
</html>
