<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doce Viver</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles/navegation.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/cardapio.css">
    <link rel="stylesheet" href="styles/pedido.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>

<%- include('menu-header') %>

<h1>Meus Pedidos</h1>

<div class="pedidos">
    <table id="pedidos">
    
        <thead>
            <tr class="cabecalho">
                <% if(user) { if(user.admin == 1) {%>
                    <th>Nome Cliente</th>
                    <th>E-mail</th>
                <%}}%>
                <th>Data Pedido</th>
                <th>Itens</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% pedidos.forEach(pedido => { %>
                <tr class="item">
                    <% if(user) { if(user.admin == 1) {%>
                        <td data-nome="<% pedido.nome %>"><%= pedido.nome %></td>
                        <td data-email="<%= pedido.email %>"><%= pedido.email %></td>
                    <%}}%>
                    <td data-pedido="<% pedido.data_pedido %>"><%= pedido.data_pedido %></td>
                    <td data-itens="<%= pedido.itens %>"><%= pedido.itens %></td>
                    <td data-total="<% pedido.total %>"><%= pedido.total %></td>
                </tr>
            <% }) %>
        </tbody>

    </table>
</div>

<br><br>

<footer>
    <div class="footer-basic">
        <div class="social">
            <a href="https://www.instagram.com/doce_viver_sh/?igsh=d21oNHhyb253dmZv"><i class="icon ion-social-instagram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=seu-numero-de-telefone"><i class="icon ion-social-whatsapp"></i></a>
            <a href="https://maps.app.goo.gl/xmEBu6z6M5VTdjGd9"><i class="fa fa-map-marker"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Início</a></li>
            <li class="list-inline-item"><a href="sobreNos">Sobre nós</a></li>
            <li class="list-inline-item"><a href="cardapio">Cardápio</a></li>
            <li class="list-inline-item"><a href="galeria">Galeria</a></li>
            <li class="list-inline-item"><a href="ifsp">IFSP</a></li>
            <li class="list-inline-item"><a href="fazerPedido">Faça seu pedido</a></li>
        </ul>
        <p class="copyright">Doce Viver © 2024</p>
    </div>
</footer>

</body>
</html>
